@import "tailwindcss";

@theme {
  --font-headline: "Space Grotesk", sans-serif;
  --font-body: "Space Grotesk", sans-serif;
  --font-label: "Inter", sans-serif;

  --color-surface-container: #1a1919;
  --color-secondary: #00d2fc;
  --color-on-secondary-fixed: #003a47;
  --color-tertiary-fixed: #80b2ff;
  --color-on-tertiary-fixed: #001835;
  --color-primary: #7be7f9;
  --color-on-primary-fixed-variant: #005d69;
  --color-on-error-container: #ffa8a3;
  --color-tertiary-container: #5fa1ff;
  --color-surface-container-high: #201f1f;
  --color-on-secondary: #004352;
  --color-surface-container-lowest: #000000;
  --color-tertiary: #7bafff;
  --color-outline-variant: #484847;
  --color-outline: #767575;
  --color-on-secondary-container: #eefaff;
  --color-primary-container: #3bafc1;
  --color-surface-dim: #0e0e0e;
  --color-on-tertiary: #002e5e;
  --color-on-primary-fixed: #003e47;
  --color-on-tertiary-fixed-variant: #003971;
  --color-secondary-dim: #00c3eb;
  --color-surface-bright: #2c2c2c;
  --color-on-background: #ffffff;
  --color-on-error: #490006;
  --color-tertiary-dim: #5d9ffc;
  --color-background: #0e0e0e;
  --color-tertiary-fixed-dim: #65a4ff;
  --color-surface-variant: #262626;
  --color-inverse-primary: #006976;
  --color-surface-container-highest: #262626;
  --color-error: #ff716c;
  --color-on-tertiary-container: #002349;
  --color-surface: #0e0e0e;
  --color-on-surface: #ffffff;
  --color-error-container: #9f0519;
  --color-on-primary-container: #00272d;
  --color-on-primary: #00535e;
  --color-surface-tint: #7be7f9;
  --color-on-secondary-fixed-variant: #00586c;
  --color-secondary-container: #00677d;
  --color-secondary-fixed-dim: #17d5ff;
  --color-error-dim: #d7383b;
  --color-primary-fixed-dim: #6cd8eb;
  --color-on-surface-variant: #adaaaa;
  --color-secondary-fixed: #79dfff;
  --color-inverse-on-surface: #565555;
  --color-inverse-surface: #fcf9f8;
  --color-primary-dim: #6cd8eb;
  --color-primary-fixed: #7be7f9;
}

@layer base {
  body {
    @apply bg-background text-on-surface font-body selection:bg-primary/30 selection:text-primary;
  }
}

@layer components {
  .glass-card {
    @apply bg-white/[0.03] backdrop-blur-xl border border-primary/10;
  }
  
  .neon-glow {
    @apply shadow-[0_0_20px_rgba(123,231,249,0.15)];
  }
  
  .radial-bg {
    background: radial-gradient(circle at center, rgba(123, 231, 249, 0.05) 0%, transparent 70%);
  }
  
  .neon-btn {
    @apply bg-primary/10 backdrop-blur-md border border-primary/40 shadow-[0_0_15px_rgba(129,236,255,0.2)] transition-all duration-300;
  }
  
  .neon-btn:hover {
    @apply bg-primary/20 border-primary/80 shadow-[0_0_25px_rgba(129,236,255,0.4)] -translate-y-0.5;
  }
  
  .neon-btn:active {
    @apply translate-y-px scale-[0.98] shadow-[0_0_10px_rgba(129,236,255,0.3)];
  }
}
